<div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/driver_register" class="nav-link">Driver Signup</a></li>
				<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
	          <li class="nav-item"><a href="/vehicles" class="nav-link">Vehicles</a></li>
	          <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>


	        </ul>
	      </div>
	    </div>
	  </nav>

